@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.all_fourneaux{
  display: flex;
  justify-content: space-around;
}
.left_side_menu{
  border: 1px solid red;
  width: 50%;
}

.right_side_content{
  border: 1px solid green;
  width: 50%;
}

.Menu_fourneaux{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
 
}

.categories_fourneaux{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.Menu_fourneaux :link{
  text-decoration: none;
  color: black;
  padding: 5px;
  text-align: left;
 
}

.Menu_fourneaux p{
  margin: 0;
  padding: 5px;
  text-align: left;
}
.visible-aliments{
  display: flex;
  flex-direction: column;
  font-style:italic;
}

.invisible-aliments{
  display: none;
}

.title_fourneaux{
  color:  #F8DBAF;
  font-family: 'Open Sans Condensed', sans-serif;
  

}

.img_fourneaux{
  width: 300px;
}

.arrow-down {
    transition: all 1s;
    transform: rotate(0deg);
    font-size: 150%;
    font-weight: bold;
  }


.arrow-right {
  transition: all 1s;
  transform: rotate(90deg);
  font-size: 150%;
  font-weight: bold;
}
.aliments-curieux {
  cursor: pointer;
}