.recipes-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipes-object{
  border: 5px solid  #DEDCCC ;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 15px #4e4e4e65;
}

.recipes-title{
  color:  #E1D2C9;
  font-size: 26px;
  margin: 0;
  padding-bottom: 10px;
}

.recipes-img{
  width:200px;
}

.see-recipe{
  margin-top: 10px;
  text-decoration: none;
  padding: 8px;
  background-color: #DEDCCC;
  border-radius: 5px;
  color: black;
  border: 1px solid #F0D8B8;
}