@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


.card-header{
  border : solid 5px yellow;
  display: flex;
  justify-content: space-around;
  height: auto
}
.container-title {
  display: flex;
  flex-direction: column;
  border : solid 5px blue;
  height: auto;
  width: 30vw;

}

.img-recipe{
  height: 200px;
  width: auto;
  border : solid 5px green;
}

.title-recipe{
  height: 35px;
  width: auto;
  color:  #F8DBAF;
  font-size: 26px;
  border: 1px solid red;
}

.container-symbols{
  display :flex;
  justify-content: space-around;
  text-align: center;
  width: auto;
  border : solid 1px red;
}
p{
  text-align: center;
}

.symbol {
  height : 70px;
}

.caracteristics{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.symbol {
  display: flex;
  justify-content: center;

}

.title-symbol {
  vertical-align : text-bottom;

}

.container-recipes {
  display: flex;
}

.ingredients-recipes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  width: 60vw;
}

.tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  width: 30vw;
}



.card-container{
  display: flex;
  flex-direction: column;
  
}

.step-recipes{

}

.container-tips{
  
  border: solid 2px black;
  border-radius: 10px;
}






/* .card-recipe{
  border: 5px solid #F0D8B8;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-conten: space-around;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 10px;
} */





.description-recipe{
text-align: justify;
font-size: 20px;
}