.accueil {
  width: 40vw;
  border: 1px solid black;
}

.accueil-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.section-left {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22vh;

}

#community{
  height: 80%;
  margin-left: 60%;
}

#shop{
  margin-left: 35%;
}

#ensemble{
  margin-left: 40%;
}

#histoire{
  margin-left: 50%;
}