.accueil {
  width: 40vw;
  border: 1px solid black;
}

.accueil-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-right {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;

}

#vrac{
  margin-right: 60%;
  height: 60%;
}

#fourneaux{
  margin-right: 30%;
}

#contact{
  margin-right: 40%;
}