.accueil {
  width: 40vw;
}

.accueil-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22.5vh;

}

#histoire{
  margin-left: 50%;
  height: 80%;
}

#ensemble{
  margin-left: 40%;
  height: 80%;
}

#shop{
  margin-left: 35%;
  height: 80%;
}

#community{
  height: 70%;
  margin-left: 60%;
  margin-bottom: 5%;;
}

@media screen and (max-width: 770px) {
  #histoire{
    height: 40%;
    margin-left: 0%;
  }
  #ensemble{
    height: 40%;
    margin-left: 0%;
  }
  #shop{
    height: 40%;
    margin-left: 0%;
  }
  #community{
    height: 40%;
    margin-left: 0%;
  }
  .accueil-left{
    width:20vw;
  }
  
}
