.accueil {
  width: 40vw;
  border: 1px solid black;
}

.accueil-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-right {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;

}