.header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 150px;
}
.user-logo {
  position: absolute;
  top: 40px;
  right: 15px;
  width: 50px;
  cursor: pointer;
}
.content-navbar {
  position: absolute;
  left: 25px;
  top:65px;
}
.title-website {
  font-size: 400%;
  font-family: 'Rounded Elegance';
  letter-spacing: 5px;
}
