.navbar {
  background-color:#D7EAD1;
  max-width: 100%;
  width: 100%;
  display: flex;
}

.title {
  font-size: 30px;
}

.content-navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}