.interface-recipes {
  width:100%;
}
.interface-btn-container-recipes{
  padding:15px;
  display: flex;
  justify-content: space-around;
}
.interface-btn-container-recipes .add-btn {
box-shadow: 0px 0px 10px rgb(100, 98, 98);
  padding:25px;
  border-radius:5px;
  background-color: rgb(78, 83, 104);
  transition: all 0.4s;
}
.interface-btn-container-recipes .add-btn:hover {
  transition: all 0.4s;
  background-color: rgba(103, 114, 156, 0.671);
  cursor: pointer;
}
.interface-btn-container-recipes .add-btn a {
  color:white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Rounded Elegance', Arial;
}
.recipes-cards-container {
  margin-top:20px;
  margin-left: 40px;
  width:100%;
  display: flex;
  flex-wrap: wrap;
}

.recipe-card{
  width:350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 15px rgb(161, 159, 159);
  border-radius: 5px;
  height:170px;
  margin: 10px;
  font-family: 'Rounded Elegance', Arial;
  font-weight:bold;
}
.recipe-card p {
  font-size:25px;
  font-weight:bold;
  padding: 3px 10px 3px 10px;
}
.recipe-card a {
  text-decoration: none;
  font-size:20px;
  padding:8px;
  color: white;
  background: rgb(214, 192, 68);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(109, 114, 62);
  transition: all 0.2s;
}
.recipe-card a:hover {
  transition: all 0.3s;
  background-color: rgba(192, 180, 109, 0.548);
  padding:12px;
}