.interface-pages {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.interface-pages-nav ul {
  display: flex;
  list-style-type: none;
  width: 600px;
  height:80px;
  margin: 0;
  padding: 0;
}
.interface-pages-nav li {
 width: 200px;
 height: 100%;
}
.nav-pages {
  width: 200px;
  height: 104%;
  text-decoration: none;
  color: white;
  display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: 0px 0px 1px rgb(80, 78, 78);
 font-weight: bold;
 color: black;
 transition:all 0.3s;
}
.nav-pages:hover {
  transition:all 0.3s;
  opacity: 0.5;
}
.nav-pages-selected {
  color: white;
  background-color: #776bdb;
}