.vrac-co-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 margin:100px;
  padding: 20px;
  background-color: rgb(241, 241, 241);
  box-shadow:0px 0px 10px rgba(41, 41, 41, 0.459);
  border-radius: 20px;
}

.vrac-co-container form {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.vrac-co-container button {
  font-size: 16px;
  color:white;
  text-decoration: none;
  border:none;
  background-color: rgb(214, 192, 68);
  padding:5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(109, 114, 62);
  transition: all 0.2s;
  margin-top: 10px;
  width:120px;
  align-self: center;
  font-family: 'Rounded Elegance', Arial;
}

.vrac-co-container button:hover {
  transition: all 0.3s;
  font-size: 20px;
  background-color: rgba(192, 180, 109, 0.548);
  cursor: pointer;
}

.vrac-co-container label{
  margin-top:20px;
}

.vrac-co-container input {
  font-size:16px;
  width:300px;
}

#title-page-input,#img-url-input {
  height: 30px;
  width: 400px;
  display: flex;
}

#content-input {
  height:300px;
  width:400px;
  display: flex;
  text-align: justify;
}

