form label {
  margin-top: 10px;
  font-weight: bold;
  margin-right: 20px;
}


.content-page-vrac-co {
  display: flex;
  flex-direction: column;
  margin-left:30px;
  margin-top: 30px;
  padding-top: 10px;
  background-color: rgb(241, 241, 241);
  box-shadow:0px 0px 10px rgba(41, 41, 41, 0.459);
  place-items: center;
  border-radius: 20px 20px 20px 20px;
}
.content-page-vrac-co button {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 2px 10px grey;
  background: rgb(78, 83, 104);
  color: white;
}
.content-page-vrac-co button:hover {
  opacity:0.6;
  cursor: pointer;
}
#content-page-input {
  width: 400px;
  height: 450px;
}

#title-page-input,#img-url-input {
  height: 30px;
  width: 400px;
  display: flex;
}
#content-input {
  height:300px;
  width:400px;
  display: flex;
  text-align: justify;
}

