.update-recipe form{
  display: flex;
  flex-direction: column;
  margin:30px;
}
.update-btn {
width:100px;
padding:5px;
border: 1px solid black;
border-radius: 10px;
background: rgb(214, 192, 68);
cursor: pointer;
}
.update-btn:hover{
  opacity:0.6;
}
.back-page{
  padding:10px;
  border-radius: 5px;
}
.back-page a {
  color:black;
  text-decoration: none;
}