@font-face {
  font-family: "Rounded Elegance";
  src: url("./Police/Rounded_Elegance.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.yellow {
  color : #F0D8B8
}

.grad-yellow {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    #F0D8B8 75%,
    #F0D8B8 100%
   
  );
}

